<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
			<key>footerText</key>
			<string>Enable or disable the tweak. You don’t need to respring in order to apply the changes.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>net.p0358.pridebars.prefschanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>net.p0358.pridebars</string>
			<key>key</key>
			<string>enabledCarrier</string>
			<key>label</key>
			<string>Enable for carrier</string>
			<key>icon</key>
			<string>icon.png</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>net.p0358.pridebars.prefschanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>net.p0358.pridebars</string>
			<key>key</key>
			<string>enabledWifi</string>
			<key>label</key>
			<string>Enable for Wi-Fi</string>
			<key>icon</key>
			<string>icon_wifi.png</string>
		</dict>


		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Carrier colors configuration</string>
			<key>footerText</key>
			<string>When "Tint inactive bars too" toggle is enabled, inactive bars, instead of remaining gray, will also be colored with selected colors (but with 15% alpha, so they will still be dimmed). This may improve the looks on worse signal levels, but will on the other hand decrease the actual readability of the signal level, so it's disabled by default.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>net.p0358.pridebars.prefschanged</string>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>net.p0358.pridebars</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>carrierbar0color</string>
			<key>label</key>
			<string>1st bar</string>
			<key>validTitles</key>
			<array>
				<string>Red</string>
				<string>Orange</string>
				<string>Yellow</string>
				<string>Green</string>
				<string>Blue</string>
				<string>Purple</string>
				<string>Black</string>
				<string>Brown</string>
				<string>Cyan</string>
				<string>Dark Gray</string>
				<string>Gray</string>
				<string>Light Gray</string>
				<string>Magenta</string>
				<string>White</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
				<integer>9</integer>
				<integer>10</integer>
				<integer>11</integer>
				<integer>12</integer>
				<integer>13</integer>
				<integer>14</integer>
			</array>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>net.p0358.pridebars.prefschanged</string>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>2</integer>
			<key>defaults</key>
			<string>net.p0358.pridebars</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>carrierbar1color</string>
			<key>label</key>
			<string>2nd bar</string>
			<key>validTitles</key>
			<array>
				<string>Red</string>
				<string>Orange</string>
				<string>Yellow</string>
				<string>Green</string>
				<string>Blue</string>
				<string>Purple</string>
				<string>Black</string>
				<string>Brown</string>
				<string>Cyan</string>
				<string>Dark Gray</string>
				<string>Gray</string>
				<string>Light Gray</string>
				<string>Magenta</string>
				<string>White</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
				<integer>9</integer>
				<integer>10</integer>
				<integer>11</integer>
				<integer>12</integer>
				<integer>13</integer>
				<integer>14</integer>
			</array>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>net.p0358.pridebars.prefschanged</string>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>3</integer>
			<key>defaults</key>
			<string>net.p0358.pridebars</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>carrierbar2color</string>
			<key>label</key>
			<string>3rd bar</string>
			<key>validTitles</key>
			<array>
				<string>Red</string>
				<string>Orange</string>
				<string>Yellow</string>
				<string>Green</string>
				<string>Blue</string>
				<string>Purple</string>
				<string>Black</string>
				<string>Brown</string>
				<string>Cyan</string>
				<string>Dark Gray</string>
				<string>Gray</string>
				<string>Light Gray</string>
				<string>Magenta</string>
				<string>White</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
				<integer>9</integer>
				<integer>10</integer>
				<integer>11</integer>
				<integer>12</integer>
				<integer>13</integer>
				<integer>14</integer>
			</array>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>net.p0358.pridebars.prefschanged</string>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>4</integer>
			<key>defaults</key>
			<string>net.p0358.pridebars</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>carrierbar3color</string>
			<key>label</key>
			<string>4th bar</string>
			<key>validTitles</key>
			<array>
				<string>Red</string>
				<string>Orange</string>
				<string>Yellow</string>
				<string>Green</string>
				<string>Blue</string>
				<string>Purple</string>
				<string>Black</string>
				<string>Brown</string>
				<string>Cyan</string>
				<string>Dark Gray</string>
				<string>Gray</string>
				<string>Light Gray</string>
				<string>Magenta</string>
				<string>White</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
				<integer>9</integer>
				<integer>10</integer>
				<integer>11</integer>
				<integer>12</integer>
				<integer>13</integer>
				<integer>14</integer>
			</array>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>net.p0358.pridebars.prefschanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>net.p0358.pridebars</string>
			<key>key</key>
			<string>tintInactiveCarrier</string>
			<key>label</key>
			<string>Tint inactive bars too</string>
		</dict>



		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Wi-Fi colors configuration</string>
			<key>footerText</key>
			<string>Configure colors for every bar separetely. You don’t need to respring in order to apply the changes.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>net.p0358.pridebars.prefschanged</string>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>4</integer>
			<key>defaults</key>
			<string>net.p0358.pridebars</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>wifibar2color</string>
			<key>label</key>
			<string>Top bar</string>
			<key>validTitles</key>
			<array>
				<string>Red</string>
				<string>Orange</string>
				<string>Yellow</string>
				<string>Green</string>
				<string>Blue</string>
				<string>Purple</string>
				<string>Black</string>
				<string>Brown</string>
				<string>Cyan</string>
				<string>Dark Gray</string>
				<string>Gray</string>
				<string>Light Gray</string>
				<string>Magenta</string>
				<string>White</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
				<integer>9</integer>
				<integer>10</integer>
				<integer>11</integer>
				<integer>12</integer>
				<integer>13</integer>
				<integer>14</integer>
			</array>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>net.p0358.pridebars.prefschanged</string>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>3</integer>
			<key>defaults</key>
			<string>net.p0358.pridebars</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>wifibar1color</string>
			<key>label</key>
			<string>Middle bar</string>
			<key>validTitles</key>
			<array>
				<string>Red</string>
				<string>Orange</string>
				<string>Yellow</string>
				<string>Green</string>
				<string>Blue</string>
				<string>Purple</string>
				<string>Black</string>
				<string>Brown</string>
				<string>Cyan</string>
				<string>Dark Gray</string>
				<string>Gray</string>
				<string>Light Gray</string>
				<string>Magenta</string>
				<string>White</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
				<integer>9</integer>
				<integer>10</integer>
				<integer>11</integer>
				<integer>12</integer>
				<integer>13</integer>
				<integer>14</integer>
			</array>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>net.p0358.pridebars.prefschanged</string>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>net.p0358.pridebars</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>wifibar0color</string>
			<key>label</key>
			<string>Bottom bar</string>
			<key>validTitles</key>
			<array>
				<string>Red</string>
				<string>Orange</string>
				<string>Yellow</string>
				<string>Green</string>
				<string>Blue</string>
				<string>Purple</string>
				<string>Black</string>
				<string>Brown</string>
				<string>Cyan</string>
				<string>Dark Gray</string>
				<string>Gray</string>
				<string>Light Gray</string>
				<string>Magenta</string>
				<string>White</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
				<integer>9</integer>
				<integer>10</integer>
				<integer>11</integer>
				<integer>12</integer>
				<integer>13</integer>
				<integer>14</integer>
			</array>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>net.p0358.pridebars.prefschanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>net.p0358.pridebars</string>
			<key>key</key>
			<string>tintInactiveWifi</string>
			<key>label</key>
			<string>Tint inactive bars too</string>
		</dict>



		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Keep in mind that there are multiple signal bars views in SpringBoard and changes are applied instantly only to the last one. If you don't see your changes here, check Home screen or Lock Screen. Changes will eventually be applied everywhere once the views refresh on their own.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Developer</string>
		</dict>
		<dict>
			<key>action</key>
			<string>Reddit</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>reddit.png</string>
			<key>label</key>
			<string>/u/p0358</string>
		</dict>
		<dict>
			<key>action</key>
			<string>GitHub</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>github.png</string>
			<key>label</key>
			<string>github.com/p0358</string>
		</dict>
	   <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Thanks to all those who have donated so far!</string>
			<key>label</key>
			<string>Donate</string>
		</dict>
		<dict>
			<key>action</key>
			<string>PayPal</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>paypal.png</string>
			<key>label</key>
			<string>paypal.me/p0358donate</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>PrideBars by p0358</string>
		</dict>
	</array>
	<key>title</key>
	<string>PrideBars</string>
</dict>
</plist>
